[submodule "Lora"]
	path = Lora
	url = https://gitlab.fit.fraunhofer.de/monica/lora-gateway/lora.git
[submodule "Lora-Bot"]
	path = Lora-Bot
	url = https://gitlab.fit.fraunhofer.de/monica/lora-gateway/lora-bot.git
[submodule "Utils/Iot-Interfaces"]
	path = Utils/Iot-Interfaces
	url = http://git.blubbfish.net/vs_utils/Iot-Interfaces.git
[submodule "Utils/Bot-Utils"]
	path = Utils/Bot-Utils
	url = http://git.blubbfish.net/vs_utils/Bot-Utils.git
[submodule "Utils/Utils"]
	path = Utils/Utils
	url = http://git.blubbfish.net/vs_utils/Utils.git
[submodule "Utils/ConnectorDataMqtt"]
	path = Utils/ConnectorDataMqtt
	url = http://git.blubbfish.net/vs_utils/ConnectorDataMqtt.git
[submodule "Utils/Utils-IoT"]
	path = Utils/Utils-IoT
	url = http://git.blubbfish.net/vs_utils/Utils-IoT.git
[submodule "Librarys/litjson"]
	path = Librarys/litjson
	url = http://git.blubbfish.net/vs_librarys/litjson.git
[submodule "Librarys/mqtt"]
	path = Librarys/mqtt
	url = http://git.blubbfish.net/vs_librarys/mqtt.git
[submodule "Librarys/Mono.Posix"]
	path = Librarys/Mono.Posix
	url = http://git.blubbfish.net/vs_librarys/Mono.Posix.git
[submodule "Librarys/RaspberryIO"]
	path = Librarys/RaspberryIO
	url = http://git.blubbfish.net/vs_librarys/RaspberryIO.git
